{% extends 'pau/pjax_switch.html' %}
{% block nav_list %}{% endblock %}
{% block main %}
<div class='container yui3-g'>
    <div class='ta-center'>
        <div class='yui3-u-1-2 t-yui3-u-3-4 m-yui3-u-11-12'>
            {% if not subscribed %}
            <h3 class="ta-left">Subscribe to {{ channel_subscribe_presenter.channel_title }} on App.net</h3>
            {{ channel_subscribe_presenter|render_presenters }}
            {% else %}
            <h3>You are already subscribed to: <br> <b>{{ channel_subscribe_presenter.channel_title }}</b></h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}